<div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-5">
                        <figure class="image is-4by3">
                            <%= image_tag('HomePagePic.jpg', draggable: "false", id: "drag9", alt: "Edit Entry") %>
                        </figure>
                    </div>
                    <div class="column is-6 is-offset-1">
                        <h1 class="title is-2">
                            Welcome to ShopBox
                        </h1>
                        <h2 class="subtitle is-4">
                            Let us help you with your Boxing needs.
                        </h2>
                        <br>
                        <p class="has-text-centered">
                        
                            <%= link_to 'Shop', products_index_path, class: "button is-medium is-info is-outlined" %>
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>

        
    </section>
