<section class="hero is-fullheight is-default is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-5">
                        
                        
                        
                    </div>
                    <div class="column is-6 is-offset-1">
                        <h2> All products</h2>

                        <ul class="block-list is-small is-outlined is-success is-centered">
                            <% @products.each do |product|%>
                            <li class="block-list is-small is-outlined is-success is-centered">
                            <%= link_to product.name, product%>
                            
                            </li>
                            <%end%>
                        </ul>
                        <%# <%= will_paginate @champions %> 

                        
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-foot">
            <div class="container">
                <div class="tabs is-centered">
                    
                </div>
            </div>
        </div>
    </section>
