
<div class="container">
      <div class="section">
        <div class="columns">
          <div class="column has-text-centered">
            <h1 class="title" >Punching Bags</h1><br>
          </div>
        </div>
        
        <%= render partial: 'punching_bags/show' %>
        
      </div>
    </div>
    
    